body {
   
    background-color:  #e5dbaf;
    color: #332D2D;
    @font-face {
        font-family: Jost !important;
        src: url(indestructibletype.com/fonts/Jost.css);
    }

    font-style: normal;
    font-weight: normal;
}

.text-center{
    font-family: Jost !important;
}



h1 {
    font-family: Jost;
    max-width: 50%;
    margin: auto;
}

.logo {
    /*position: absolute;
    width: 190px;
    height: 190px;
    left: 1200px;
    top: 50px;*/
    position: absolute;
    width: 190px;
    height: 190px;
    left: 75%;
    top: 50px;
}



.topico{
    font-family: Jost !important;
}

.card {
    background-color: #E5E5E5;
}

.form-card{
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.fotinho {
    width: 100%;
    height: auto;
}

.seta {
    position: relative;
    height: 40px;
    margin: auto;
    z-index: 2;
    top: 90%;
    left: 90%;

    border: 3px;
}

p{
    font-family: Jost !important;
    text-align: center;
    font-size: medium;
}