
body {
    align-items: center;
    background-color:  #fbb02d;
    font-family: Helvetica, arial, sans-serif;
    color: #5C8001;
    @font-face {
        font-family: Jost;
        src: url(indestructibletype.com/fonts/Jost.css);
    }

    font-style: normal;
    font-weight: normal;
}

.fas, .fa{
    color: #5c8001;
    position: absolute;
    font-size:25px;

}

.general-container{
    background-color:#fbb02d;
    display: flex;
    justify-content: space-between;
    width:100%;
    height: auto;
}

.navbar{

    margin: 1%;
}


.container{

    @font-face {
        font-family: Jost;
        src: url(indestructibletype.com/fonts/Jost.css);
    }
}

.logo{
    margin-top: 5%;
    position: absolute;
    width: 400px;
    height: 400px;
    left: 230px;
    top: -42px;
}

.frase{
    position: absolute;
    width: 581px;
    height: 154px;
    left: 680px;
    top: 110px;


    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 81px;
    color: #FFFFFF;
}

.descricao{
    position: absolute;
    width: 700px;
    height: 240px;
    left: 118px;
    top: 415px;
    bottom:0;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 69px;
    text-align: center;
    
    color: #5C8001;
}

.botao1{
    position: absolute;
    width: 250px;
    height: 65px;
    left: 942px;
    top: 437px;
    bottom: 100px;
    background: rgba(92, 128, 1, 0.88);
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.textobt1{
    position: absolute;
    width: 250px;
    height: 56px;
    font-family: Jost;
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 61px;
    color: #FFFFFF;
}

.botao2{
    position: absolute;
    width: 200px;
    height: 112px;
    left: 965px;

    text-align: center;
    top: 530px;
    background: rgba(92, 128, 1, 0.88);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.textobt2{
    top: 3px;
    position: absolute;
    height: 110px;
    font-family: Jost;
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 51px;
    color: #FFF3F3;
}


