
body {
    align-items: center;
    background-color:  #fbb02d;
    font-family: Helvetica, arial, sans-serif;
    color: #5C8001;
    @font-face {
        font-family: Jost;
        src: url(indestructibletype.com/fonts/Jost.css);
    }

    font-style: normal;
    font-weight: normal;
    overflow-x: hidden;
    overflow-y: hidden;
}

.fas, .fa{
    color: #ffffff;
    position: absolute;
    font-size:25px;

}

.general-container{
    background-color:#fbb02d;
    display: flex;
    justify-content: space-between;
    width:100%;
    height: auto;
}

.navbar{
    margin-top:0;
    margin-left: 1%;
}

.dropdown{
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    color: #ffffff;
    min-width: 160px;
    font-family: Jost;
    font-weight: normal;
    font-size: 20px;
    padding: 8px 12px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container{
    @font-face {
        font-family: Jost;
        src: url(indestructibletype.com/fonts/Jost.css);
    }
}

.logo{
    margin-top: 5%;
    position: absolute;
    width: 30%;
    height: auto;
    left: 20%;
    top: -8%;
}

.frase{
    position: absolute;
    width: 40%;
    height: auto;
    left: 52%;
    top: 18%;
    text-align: center;

    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 200%;
    color: #FFFFFF;
}

.descricao{
    position: absolute;
    width: 55%;
    height: 200%;
    left: 8%;
    top: 63%;
    bottom:0;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 150%;
    line-height: 220%;
    text-align: center;
    
    color: #5C8001;
}

.botao1{
    position: absolute;
    width: 19%;
    height: 9%;
    left: 71%;
    top: 67%;
    bottom: 27%;
    background: rgba(92, 128, 1, 0.88);
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    align-items: center;
}

.textobt1{
    position: absolute;
    width: 100%;
    text-align:center;
    height: auto;
    font-family: Jost;
    font-style: normal;
    font-weight: 300;
    font-size: 160%;
    line-height: 235%;
    color: #FFFFFF;
}

.botao2{
    position: absolute;
    width: 12%;
    height: 16%;
    left: 74.5%;
    text-align: center;
    top: 80%;
    background: rgba(92, 128, 1, 0.88);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.textobt2{
    top: 1.5%;
    position: absolute;
    width: 100%;
    height: auto;
    font-family: Jost;
    font-style: normal;
    font-weight: 300;
    font-size: 160%;
    line-height: 195%;
    color: #FFF3F3;
}


