body{
    background-color:  #E5DBAF;
    font-family: Helvetica, arial, sans-serif;
    @font-face {
        font-family: Jost;
        src: url(indestructibletype.com/fonts/Jost.css);
    }
    font-style: normal;
    font-weight: normal;
}
.general-container{
    background-color:#E5DBAF;
    display: flex;
    justify-content: space-between;
    width:100%;
    height: auto;
}
.fas, .fa{
    color: #5c8001;
    position: absolute;
    font-size:25px;

}
.navbar{
    width:5%;
    margin: 1%;
}
.colunas{
    display: inline-block;
    justify-content: space-between;
    width:100%;
    height: auto;
}
.coletivos{
    /* Coletivos */
    display:block;
    border-radius: nullpx;
    font-family: 'Jost',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 69px;
    text-align: center;
    margin-left:70px;
    color: #F07907;
}
.perfil{
    /* Perfis */
    display:block;
    border-radius: nullpx;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 69px;
    text-align: center;
    color: #F07907;
}
.textos{ 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 90px;
    color: #332D2D;
}
.links{
    text-decoration: none;
    color: #332D2D;
}
.favela{
    width: 404px;
    height: 162px;
    margin-left: 200px;
    top: 264px;
}
.brilhar{
    width: 536px;
    height: 196px;
    margin-left: 150px;
    top: 264px;
}
.dicas{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #332D2D;
}
.rostos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.carinhas{
    margin-left:110px;
    width: 130px;
    height: 123px;
    border-radius: 2000px;
}
.menores{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #332D2D;
}
.carinhas2{
    margin-left:110px;
    width: 130px;
    height: 123px;
    border-radius: 2000px;
}
.menores2{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #332D2D;
}