body{
    background-color:  #E5DBAF;
    font-family: Helvetica, arial, sans-serif;
    @font-face {
        font-family: Jost;
        src: url(indestructibletype.com/fonts/Jost.css);
    }
    font-style: normal;
    font-weight: normal;
}
.general-container{
    background-color:#E5DBAF;
    display: flex;
    justify-content: space-between;
    width:100%;
    height: auto;
}
.fas, .fa{
    color: #5c8001;
    position: absolute;
    font-size:25px;

}
.navbar{
    
    margin: 1%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    padding-left: 50px;
    display:block;
    margin-top: 2px;
    color: #5C8001;
    text-decoration: none;
    font-size: 20px;
    font-family: Jost;
}
.colunas{
    display: inline-block;
    justify-content: space-between;
    width:100%;
    height: auto;
}
.coletivos{
    /* Coletivos */
    display:block;
    border-radius: nullpx;
    font-family: 'Jost',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 69px;
    text-align: center;
    margin-left:0px;
    margin-top:4%;
    color: #F07907;
}
.logo{
    margin-top:0 px;
    margin-left:30px;
    width: 140px;
    height: 135px;
}
.gif{
    margin-top:230px;
    margin-left:0px;
    margin-right: 30px;
    width: 210px;
    height: 300px;
}
.perfil{
    margin-top:10.5%;
    /* Perfis */
    display:block;
    border-radius: nullpx;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 69px;
    text-align: center;
    color: #F07907;
}
.textos{ 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 0px;
    color: #332D2D;
}
.links{
    text-decoration: none;
    color: #332D2D;
}
.favela{
    width: 404px;
    height: 162px;
    margin-left: 120px;
    top: 264px;
}
.brilhar{
    width: 404px;
    height: 196px;
    margin-left: 120px;
    top: 264px;
}
.dicas{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #332D2D;
}
.rostos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.carinhas{
    margin-left:60px;
    width: 150px;
    height: 150px;
    border-radius: 2000px;
}
.menores{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #332D2D;
    text-decoration: none;
    margin-right: 50px;
}
.carinhas2{
    margin-left: 50px;
    width: 150px;
    height: 150px;
    border-radius: 2000px;
}
.menores2{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #332D2D;
    text-decoration: none;
    margin-right: 60px;
}