body {
    align-items: center;
    background-color:  #e5dbaf;
    font-family: Helvetica, arial, sans-serif;
    color: #5C8001;
    @font-face {
        font-family: Jost;
        src: url(indestructibletype.com/fonts/Jost.css);
    }

    font-style: normal;
    font-weight: normal;
    overflow-x: hidden;
    overflow-y: hidden;
}

.fas, .fa{
    color: #5c8001;
    position: absolute;
    font-size:25px;

}

.general-container{
    background-color:#e5dbaf;
    display: flex;
    justify-content: space-between;
    width:100%;
    height: auto;
}

.navbar{

    margin: 1%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    padding-left: 50px;
    display:inline-block;
    margin-top: 2px;
    color: #5C8001;
    text-decoration: none;
    font-family: Jost;
}

.container{

   font-family: Jost;
}


.title{
    position: absolute;
    width: 334px;
    height: 97px;
    left: 21px;
    top: 60px;

    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
    text-align: center;

    color: #FFFFFF;
}

.pin{
    position: absolute;
    width: 40px;
    height: 60px;
    left: 54px;
    top: 320px;
}

.escrito{
    position: absolute;
    width: 214px;
    height: 29px;
    left: 98px;
    top: 380px;

    @font-face {
        font-family: Josefin Sans Std;
        src: url(fonts.googleapis.com/css?family=Josefin+Sans);
    }

    

    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #000000;

}

p {
    text-align: right;
    font-size: 10px;
    margin-right: 15px;
}

@media (max-width: 992px) {

    .title {
      font-size: 30px;
      left: 1px;
    }

    .escrito {
        font-size: 25px;
        left: 70px;
    }

    .pin {
        left: 40px;
    }
  }
